__pycache__/Wight.cpython-36.pyc
__pycache__/Queen.cpython-36.pyc
__pycache__/Dragon.cpython-36.pyc
__pycache__/Board.cpython-36.pyc
__pycache__/Game.cpython-36.pyc
__pycache__/Player1AI.cpython-36.pyc
__pycache__/Player2AI.cpython-36.pyc
.ropeproject/config.py
